<div class="register-step">


  <div class="step-desc">
    STEP 1 OF 3
    <h1>Create a password to start your membership</h1>
    <p>Just a few more steps and you're done!
      We hate paperwork, too.</p>
    <form class="user-form" [formGroup]="regform" (ngSubmit)="next()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="xx@xx" name="email" value="" formControlName="email">
        <mat-spinner *ngIf="email.pending" matSuffix diameter="16" style="display: inline-flex"></mat-spinner>
        <mat-hint *ngIf="email?.invalid && email?.touched && email?.hasError('required')" style="color:red">
          Email is Required
        </mat-hint>
        <mat-hint *ngIf="email?.invalid && email?.touched && email?.hasError('emailExists')" style="color:red">
          Email Exists
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width" >
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="" formControlName="password">
        <mat-hint *ngIf="password?.invalid && password?.touched" style="color:red">
          Password is Required
        </mat-hint>
      </mat-form-field>
      <button mat-flat-button color="warn" type="submit" [disabled] ="!regform.valid" >Next
      </button>
    </form>
  </div>
</div>
