<div style="background-color: rgba(0,0,0,1)">
  <app-header></app-header>
  <app-movie-carousel *ngIf="movies.length > 0" [slides]="slides()"></app-movie-carousel>


  <div infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
       [scrollWindow]="true" style="margin-top: 20px">
    <div style="background-color: black; color: white; display: flex; flex-direction: row; gap: 50px; flex-wrap: wrap; justify-content: center">


      <app-movie [id]="'movie-'+movie.id" class="movie" *ngFor="let movie of movies" [movie]="movie"
                 (click)="select(movie)" style="cursor: pointer" [isLoadingToDetail]="!!loadingStatus[movie.id]">

      </app-movie>
    </div>
  </div>
</div>

