<div style="background-color: rgba(0,0,0,1)">
<app-header></app-header>
  <div infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  [scrollWindow]="true">
<div style="background-color: black; color: white; display: flex; flex-direction: row; gap: 10px; flex-wrap: wrap">



  <app-movie [id]="'movie-'+movie.id" class="movie" *ngFor="let movie of movies" [movie]="movie" (click)="select(movie)" style="cursor: pointer" [isLoadingToDetail]="!!loadingStatus[movie.id]">

  </app-movie>
  </div>
</div>
</div>

