<div class="register-1" style="display: flex; justify-content: center">


  <div style=" padding: 50px; max-width:500px">
    STEP 1 OF 3
    <h1 style="">Create a password to start your membership</h1>
    <p>Just a few more steps and you're done!
      We hate paperwork, too.</p>
    <form class="example-form">
      <mat-form-field class="example-full-width" style="width: 100%">
        <mat-label>Email or phone number</mat-label>
        <input matInput placeholder="xx@xx" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="">
      </mat-form-field>
      <button mat-flat-button color="warn"
              style="width: 100%; height: 50px" (click)="next()" >Next
      </button>
    </form>

  </div>
</div>
