<div class="register-step">
  <div class="step-desc">
    STEP 2 OF 3
    <h1>Create a Username && Add your Tmdb Api_Key </h1>
    <p>Just a few more steps and you're done!
      We hate paperwork, too.</p>
    <form class="tmdb-form">
      <mat-form-field class="example-full-width">
        <mat-label>Role</mat-label>
        <input matInput placeholder="xx@xx" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>TMDB Key</mat-label>
        <input matInput placeholder="tmdb_key">
      </mat-form-field>
      <button mat-flat-button color="warn" (click)="next()">Next
      </button>
    </form>

  </div>
</div>
