<div class="home">
  <h1>Unlimited movies, TV shows, and more </h1>
  <h2>Watch anywhere. Cancel anytime.</h2>
  <h2>Ready to watch? Enter your email to create or restart your membership.</h2>
  <form class="email-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email address</mat-label>
      <input matInput>
    </mat-form-field>
    <button type="button" mat-flat-button color="warn" [routerLink]="(isLogin$() | async) ? ['/movies']: ['/register']">Get
      Started >
    </button>
  </form>


</div>
<div style="position: relative;  display: flex; flex-direction: row; justify-content: center;margin-top: 50px">

  <div
    style="background: linear-gradient(to bottom right, #ff0000, #00008B); width: 80%; border-radius: 10px;padding: 5%; display: flex; flex-direction: column; align-items: center">
    <div
      style="color: white; font-size: 30px; font-weight: bold; display: flex; flex-direction: row; justify-content: center; align-items: center">
      <div style="flex: 1">
        <div>Enjoy on your TV.</div>
        <div style="font-size:16px; font-weight: normal">Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</div>
      </div>

      <div style="flex:1">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/cards/v2.1/enjoyOnTv/en.png"
             style="height: 200px; margin-top: 50px">
      </div>
    </div>

    <div style=" width: 100%; height: 10px; background-color: rgba(0,0, 0, 0.5);"></div>

    <div
      style="color: white; font-size: 30px; font-weight: bold; display: flex; flex-direction: row; justify-content: center; align-items: center">


      <div style="flex:1">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/cards/v2.1/watchEverywhere/en.png"
             style="height: 200px; margin-top: 50px">
      </div>
      <div style="flex: 1">
        <div>Watch everywhere</div>
        <div  style="font-size:16px; font-weight: normal">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV</div>
      </div>
    </div>

    <div style="background-color: rgba(0,0, 0, 0.5); width: 100%; height: 10px;"></div>

    <div
      style="color: white; font-size: 30px; font-weight: bold; display: flex; flex-direction: row; justify-content: center; align-items: center">

      <div style="flex: 1">
        <div>Create profiles for kids</div>
        <div  style="font-size:16px; font-weight: normal">Send kids on adventures with their favorite characters in a space made just for them—free with your membership.</div>
      </div>
      <div style="flex:1">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/cards/v2.1/kids/en.png"
             style="height: 200px; margin-top: 50px">
      </div>
    </div>


  </div>

</div>
<app-page-footer></app-page-footer>
