<div style="display: flex;color: white; flex-direction: row; justify-content: center; flex-wrap: wrap; box-sizing: content-box; margin-top: 50px">
<a style="width: 40%; text-decoration: underline; margin:10px; text-align: center  ">FAQ</a>
  <a style="width: 40%; text-decoration: underline; margin:10px;text-align: center  ">Help Center</a>
  <a style="width: 40%; text-decoration: underline; margin:10px;text-align: center  ">Account</a>
  <a style="width: 40%; text-decoration: underline;  margin:10px;text-align: center  ">Media Center</a>
  <a style="width: 40%; text-decoration: underline;  margin:10px;text-align: center  ">Netflix Shop</a>
  <a style="width: 40%; text-decoration: underline; margin:10px;text-align: center  ">Redeem Gift Cards</a>
  <a style="width: 40%; text-decoration: underline; margin:10px;text-align: center  ">Term of Use</a>
  <a style="width: 40%; text-decoration: underline; margin:10px;text-align: center  ">Privacy</a>

</div>
