
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Notflix-primary: mat.define-palette(mat.$indigo-palette);
$Notflix-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Notflix-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Notflix-theme: mat.define-light-theme((
  color: (
    primary: $Notflix-primary,
    accent: $Notflix-accent,
    warn: $Notflix-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Notflix-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-text-field--filled:not(.mdc-text-field--disabled)  {
  background-color: rgba(0, 0, 0, 0.7);
}

.ng-tns-c6-0 {
  color: white;
}

.signin {
  .mdc-text-field--filled:not(.mdc-text-field--disabled)  {
    background-color: whitesmoke;
  }
  .mdc-checkbox {
    color: white;

  }
  .mat-mdc-checkbox .mdc-form-field {
    color: rgba(200,200,200, 0.8);
  }
  .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    //border-color: var(--mdc-checkbox-unselected-icon-color, rgba(0, 0, 0, 0.54))
     background-color: rgba(200,200,200, 0.8);
  }
}

.register-1 {
  .mdc-text-field--filled:not(.mdc-text-field--disabled)  {
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}
